<form>
    <div class="nameClass">
      <label >Name:</label>
      <input type="text" name="name">
    </div>
    <mat-form-field class="datepickerclass">
        <input matInput [matDatepicker]="dobPicker" name="dob" [value]="dob | date: 'yyyy-MM-dd'" required>
        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
        <mat-datepicker #dobPicker></mat-datepicker>
    </mat-form-field>
    <div class="emailClass">
      <label>Email:</label>
      <input type="email" name="email">
    </div>
    <div class="numberClass">
      <label>Phone Number:</label>
      <input type="tel" name="phone">
    </div>
    <button class="submitButton" type="submit">Submit</button>
  </form>

    
    